@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-main: 236 237 238; /* #ecedee */
  --text-muted: 148 163 184; /* slate-400 */
}

body {
  background: #0b1020; /* ダーク基調 */
  color: rgb(var(--text-main));
}
